<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Övning Todo</title>
</head>
<body>
<div id="todo-list">
    <form v-on:submit.prevent="addNewTodo">
        <label for="new-todo">Add a todo</label>
        <input
                v-model="newTodoText"
                id="new-todo"
                placeholder="e.g eat the cat"
        >
        <button>Add</button>
    </form>

    <ul>
        <li
            is="todo-item"
            v-for="(todo, index) in todos"
            v-bind:key="todo.id"
            v-bind:title="todo.title"
            v-on:remove="todos.splice(index, 1)"
        ></li>
    </ul>
</div>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!--
Går att lägga i en separat JS fil, då flyttar man alla kod från script blocket och erställer med en src sökväg!
<script src="js/vueTodo.js"></script>-->
<script>
    Vue.component('todo-item', {
        template: '\
        <li>\
        {{title}}\
        <button v-on:click="$emit(\'remove\')">Remove</button>\
        </li>\
        ',
        props: ['title']
    })

    new Vue({
        el: '#todo-list',
        data: {
            newTodoText: '',
            todos: [
                {
                    id: 1, title: 'Eat',
                },
                {
                    id: 2, title: 'Sleep',
                },
                {
                    id: 3, title: 'Repeat',
                }
            ],
            nextTodoId: 4
        },
        methods: {
            addNewTodo: function () {
                this.todos.push({
                    id: this.nextTodoId++,
                    title: this.newTodoText
                })
                this.newTodoText = ''
            }
        }
    })
</script>
</body>
</html>