body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: "Berlin Sans FB", sans-serif;
    text-shadow: 2px 2px 2px darkgray;
    text-align: center;
    font-size: 30px;
}

p {
    font-family: "Times New Roman", sans-serif;
}

section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 50px;
    grid-template-areas:
            "header"
            "navigation"
            "main-content"
            "footer";
    grid-gap: 0;
}
header{
    grid-area: header;
    background-color: #5A8CAD;
    padding: 0;
    margin: 0;
    height: 140px;
}
nav{

    background-color: #FAC87F;
    grid-area: navigation;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

nav a{
    flex: 1;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    text-space: 5;
}

nav a:hover {
    background-color: #AD803E;
    color: white;
}

.main-container{
    display: grid;
    margin: 10px auto;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    grid-gap: 20px;
}
.grid-item {
    padding: 10px;
}
.grid-item-center{
    justify-self: center;
}
.main-flex {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 10px;
    max-width: 100%;
    flex-direction: unset;
}
.grid-img {
    flex: 25%;
    padding: 5px;
}
.grid-img img {
    margin-top: 8px;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
    width: 300px;
}

th, td {
    border: 1px solid black;
    text-align: left;
    padding: 0;
}

tr:nth-child(even) {
    background-color: lightblue;
}

img {
    width: auto;
    height: 300px;
}

@media screen and (min-width: 800px)  {
    header {
        position: sticky;
        top: 0;
    }
    nav {
        position: sticky;
        top: 140px;
        flex-direction: row;
        padding: 0;
        margin: 0;
    }
    nav a {
        text-align: center;
    }
}